<!DOCTYPE html>
<html>
  <head>
    <title>Whac-a-mole Politics</title>
    <link href='https://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Hello {{ name }}</h1>
    <h2>Votes</h2>
    <table>
      {% for vote in votes %}
        <tr>
          <td>{{ vote.upvotes }}</td>
          <td>{{ vote.downvotes }}</td>
          <td><a target="_blank" href="/rep/{{ vote.rep_id }}">{{ vote.rep_name }}</a></td>
          <td><a target="_blank" href="{{ vote.bill_link }}">{{ vote.bill_title }}</a></td>
          <td>{{ vote.outcome }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
