<!doctype html>
<html>
  <head>
    <title>Whac-a-mole Politics</title>
    <link href='https://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".vote_button").click(function(){
          var $button = $(this);
          // Update the number client-side
          var oldValue = parseFloat($button.text());
          $button.text(oldValue + 1);
          var consistent_bool = 1;
          var name = $button.attr("name");
          if (name == "downvote") {
            consistent_bool = 0;
          }
          var request_params = {
            vote_id: $button.attr("vote_id"),
            consistent: consistent_bool
          };
          $.post('/inc', request_params)
            .done(function(response) {
              parsed_response = JSON.parse(response);
              if (parsed_response.operation == "decrement") {
                // TODO: decrement the other button's counter when needed
                $button.text(oldValue - 1);
              }
            })
            .fail(function(error) {
              alert("The response is " + error);
            });
        });
      });
    </script>
  </head>
  <body>
    <h1>Hello {{ name }}</h1>
    <h2>Votes</h2>
    <table>
      {% for vote in votes %}
        <tr>
          <td><button class='vote_button' name='upvote' vote_id='{{ vote.id }}'>{{ vote.upvotes }}</button></td>
          <td><button class='vote_button' name='downvote' vote_id='{{ vote.id }}'>{{ vote.downvotes }}</button></td>
          <td><a target="_blank" href="/rep/{{ vote.rep_id }}">{{ vote.rep_name }}</a></td>
          <td><a target="_blank" href="{{ vote.bill_link }}">{{ vote.bill_title }}</a></td>
          <td>{{ vote.outcome }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
